html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt_user {
  padding: 20px 0 40px 0;
}

.navbar {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #16A085;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69b26b;
  color: #fff;
  width: 100%;
  height: 8%;
  position: fixed;
  bottom: 0;
}

.mood_logo {
  font-size: 30px;
  font-family: sans-serif;
}

.mood_entry_form {
  text-align: center;
}

.moods_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.moods img {
  border-bottom: 1px solid #4a4a4a;
  border-right: 1px solid #4a4a4a;
  padding-bottom: 30px;
  margin: 30px;
  border-radius: 20px;

}

.selected {
  background-color: lightgreen;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;

}
.moods {
  border-radius: 20px;
  margin: 10px;


}

.moods:hover {
  background-color: #ccebc5;
}

.moods p {
  padding: 5px;
  font-size: 10px;
  color: #4a4a4a;

}

.explain_user {
  color: #4a4a4a;
  font-size: 11px;
  margin: 20px;

}


.message {
  color: #257507;
  padding: 20px;
}

.message.hidden {
  visibility: hidden;
}

.user {
  color: red;
  display: inline-block;
}

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
}

input, button {
  height: 40px;
  text-align: center;
  margin: 5px;
  min-width: 200px;
}

img {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 30px 0 0 0;
}

.emoji_caption {
  margin-top: -55px;
}
