.diaryH1 {
  color: #16a085;
}

.Diary {
  background-color: orange;
  width: 90%;

}

.entry {
  background-color: yellow;
}

.date {
  background-color: green;
  font-size: 30px;
  font-family: sans-serif;
}

.note {
  background-color: blue;
  font-size: 20px;
}

.add-entry, .diaryButton {
  padding-top: 10px;
  width: 100%;
  background-image: linear-gradient(to right, #69b26b 0%, #16a085 51%, #69b26b 100%);
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.add-entry, .diaryButton :hover {
  background-position: right center; /* change the direction of the change here */
}

.diaryTextArea {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #16a085;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #grey;
  color: #666;
  outline: none;
  height:23px;
  width: 99%;
}
